<img style="float: right;" width="120" src="../Images/supplier-logo.png">
<img style="float: left; margin-top: 0" width="80" src="../Images/client-logo.png">
<br><br><br>

# SQLLite

Use the flights database located in `../Data/DataBase/flights.db`

## Import the libraries

And connect to the database

In [ ]:
import sqlite3
conn = sqlite3.connect("../Data/DataBase/flights.db")

## Get a cursor frpm the database

Use the connection object ot get a cursor.

cursors allow users to exdcute SQL against the database

In [ ]:
cur = conn.cursor()

## Execute some SQL

In [ ]:
cur.execute("select * from airlines limit 5;")

Use `fetchall()` to view the results

In [ ]:
res = cur.fetchall()

print(res)

The results are a list of uples


Users can chain the `execute()` and `fetchall()` methods together if they wish

In [ ]:
cur.execute("select * from airlines limit 5;").fetchall()

Once finished with the connections and cursors, rememebr to **close** them

In [ ]:
cur.close()
conn.close()

## Reading results into a pandas DataFrame

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("../Data/DataBase/flights.db")
df = pd.read_sql_query("select * from airlines limit 5;", conn)
df

## Inserting rows with Python

In [ ]:
cur = conn.cursor()
cur.execute("insert into airlines values (6048, 19846, 'Test flight', '', '', null, null, null, 'Y')")

## Passing parameters into a query

Use `?` and a values parameter<br>
Any `?` value in the query will be replaced by a value in values. <br>
The first `?` will be replaced by the first item in values, the second by the second, and so on.

In [ ]:
cur = conn.cursor()
values = ('Test Flight', 'Y')
cur.execute("insert into airlines values (6049, 19847, ?, '', '', null, null, null, ?)", values)
conn.commit()

## Updating rows

In [ ]:
cur = conn.cursor()
values = ('USA', 19847)
cur.execute("update airlines set country=? where id=?", values)
conn.commit()

Simple test to verify the update happened

In [ ]:
pd.read_sql_query("select * from airlines where id=19847;", conn)

## Deleting rows

In [ ]:
cur = conn.cursor()
values = [19847]
cur.execute("delete from airlines where id=?", values)
conn.commit()

Simple test to verify the update happened

In [ ]:
pd.read_sql_query("select * from airlines where id=19847;", conn)