<img style="float: right;" width="120" src="../Images/supplier-logo.png">
<img style="float: left; margin-top: 0" width="80" src="../Images/client-logo.png">
<br><br><br>

# Synopsis


This notebook will explain the following topics and concepts:

**Missing Data** 
- detecting
- removing
- filling in

**Data Transformation**
- counting values
- Imputing
- Removing Duplicates
- Replacing Values
- Common String Methods

**Importing formatted numerics**

**Pandas Options and Customisation**
- String Formatting
- Display Options
- Style

# Import packages

In [ ]:
import pandas as pd
import numpy as np

# Missing Data

three main problems that missing data causes: 
>
> introduction of a substantial amount of bias <BR>
> make the handling and analysis of the data more arduous <BR>
> and create reductions in efficiency <BR>
>

## Filtering out missing data

- **dropna()**  - Will detect and remove rows or columns (it's usually used for rows) where data is missing.

- Returns a copy, not the original.

- Catch result in a new variable OR set **inplace=True** to alter the original DataFrame.

In [ ]:
# Simple Series for demonstration
arr = ['AAA', 'BBB', np.nan, 'DDD']
demo_series = pd.Series(data = arr)
demo_series

demo_series.dropna()

## Import Test Data

In [ ]:
df_missing = pd.read_excel(io='../Data/sample_data.xls', sheet_name='MissingData')

## Detecting Missing Data

Pandas includes a number of functions to detect missing or invalid data.

- isnull  - Returns a Series containing True/False indicating if each value is missing.
- notnull - Opposite (negation) of isnull: True if value is not null, False otherwise.
- sum - how many null or not nulls exist

In [ ]:
df_missing

In [ ]:
df_missing.isnull()

df_missing.notnull()

# How many in each column
df_missing.isnull().sum()

# How amny are empty in the entire dataset
df_missing.isnull().sum().sum()

## Filling in missing values
- **fillna()**  - Will detect and empty values and fill them in.

- You can give it a value to fill with
- Alternatively, it can fill with values from cells before or after the missing value (backfill or forwardfill).
- Again, catch result in a new variable OR set **inplace=True** to alter the original DataFrame.

In [ ]:
# use fillna - returns a new object, can use inplace=True if desired
df_missing.fillna(0.42, inplace=True)
df_missing

# Data Transformation

## Import Test Data

In [ ]:
df_houses = pd.read_excel(io='../Data/sample_data.xls', sheet_name='HouseData')

## Value Counts

- only works on a Series (a single column or row)

- used to get a `Series` containing counts of unique values.

- the resulting object will be in descending order so that the first element is the most frequently-occurring element. 

- excludes NA values by default.

- dropna - display the nan values

- the bins parameter to convert a continuous variable to a categorical variable;

In [ ]:
df_houses

In [ ]:
# list the unique values
df_houses['Country'].unique()

# how many of each unique values
df_houses['Country'].value_counts()
df_houses['Purchased'].value_counts()
df_houses['Salary'].value_counts()

# Include the Nans
df_houses['Salary'].value_counts(dropna=False)

# And with 4 bins
df_houses['Salary'].value_counts(bins=4)

## scikit lean imputers 

`SimpleImputer` is form the scikit learn machine learning libraries

the following cells show how to employ various strategies to impute data - `mean`, `most_frequent` and `constant`

### strategy = 'mean'

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, 
                        strategy = 'mean', verbose=0)

cols = ['Age', 'Salary']

imputer = imputer.fit(df_houses[cols])

df_houses[cols] = imputer.transform(df_houses[cols])

df_houses

### strategy = 'most_frequent'

In [ ]:
# How many of each value are in purchased column
display (df_houses['Purchased'].value_counts())

cols = ['Purchased']
imputer = SimpleImputer(missing_values = np.nan, 
                        strategy = 'most_frequent', verbose=0)

imputer = imputer.fit(df_houses[cols])

df_houses[cols] = imputer.transform(df_houses[cols])

### strategy = 'constant'

- need a fill value for this approach

In [ ]:
cols = ['Country']
imputer = SimpleImputer(missing_values = np.nan, 
                        strategy = 'constant', fill_value='France', verbose=0)

imputer = imputer.fit(df_houses[cols])

df_houses["Country"] = imputer.transform(df_houses[cols])

In [ ]:
df_houses

## Removing duplicates

- **duplicated()** : indicates whether each row is a duplicate.
- **drop_duplicates()** : returns a copy of the DataFrame with the duplicates removed (or inplace=True).

In [ ]:
display(df_missing)
df_missing.duplicated()

In [ ]:
df_missing.drop_duplicates()

## Replacing Values
- **df.replace(to_replace, value)** : find and replace specific values.
- The parameters **to_replace** and **value** can both be either single values or lists of values.
- Returns a copy so again either use **inplace=True** OR catch the returned DataFrame in a new variable.

In [ ]:
df_missing.replace(2,22, inplace=True)
df_missing

In [ ]:
df_missing = df_missing.replace(['I', 'III'],[11, 33])
df_missing

In [ ]:
# or use variables
orig_vals = ['I', 'III']
new_vals = [11, 33]

df_missing.replace(orig_vals,new_vals, inplace=True)
df_missing

# Importing Formatted Numerics

Some files may have had their numeric data formatted.<br>
Pandas will interpret such values as string.

for example

- 23.45% ( as a string)
- 12,342 ( also a string)

Use the string **replace()** function in conjunction with **pandas.to_numeric()** to correctly import formatted numeric values.

In [ ]:
# Read data into a DataFrame
df_SPX = pd.read_csv(filepath_or_buffer='../Data/SPX.csv',index_col='Date', parse_dates=True)

# Use the dtypes attribute to check what types are in each column
# the word 'object' is used to denote a string
print(df_SPX.dtypes)

df_SPX.head()

In [ ]:
# Convert the value in the 'Price' column from a String to a numeric (notice we also strip out the ",")
df_SPX['Price'] = pd.to_numeric(df_SPX['Price'].str.replace(',', ''))

# Now check the dtypes and compare to the previous cell - price is now a "float64" i.e. a decimal number
print(df_SPX.dtypes)


df_SPX.head()

# Exercise
- Update the "Change %" column
- Remove the '%' character and convert to numeric values
- Print the dtypes for the updated DataFrame to verify your change
- Display the first 5 rows of the updated DataFrame

In [ ]:
# Do the exercise here

# Pandas Options, Customisation & Style

4 ways to format strings
- C Style formatting
- “New Style” String Formatting
- Formatted String Literals
- Template Strings

### C-Style String Formatting

Based on C language `printf` function -  the %-operator

- Single Substitution

- Multiple Substitution: wrap the right-hand side in a tuple,

In [ ]:
# Single Substitution
fav_song = "Hey Jude"
s = 'Favourite song is %s' % fav_song
print(s)

# Multiple Substitution:
fname = "Bob"
lname = "Dylan"
s = 'Favourite singer is %s %s' % (fname, lname)
print(s)

### “New Style” String Formatting

Introduced in Python 3, back ported to python 2.7 <BR>
Replaces `%operator` with a `.format()` function and variable substitution

In [ ]:
fav_song = "Hey Jude"
s = 'Favourite song is {}'.format(fav_song)
print(s)

fname = "Bob"
lname = "Dylan"
s = 'Favourite singer is {} {}'.format(fname, lname)
print(s)

# Same as previous but using named parameters
s = 'Favourite singer is {s1} {s2}'.format(s1=fname, s2=lname)
print(s)

### Formatted String Literals

Added in python 3.6

In [ ]:
# Use embedded Python expressions inside string constants
fav_song = "Hey Jude"
s = f'Favourite song is, {fav_song}!'
print(s)

# embed arbitrary Python expressions
a = 5
b = 10
s = f'Five plus ten is {a + b} and not {2 * (a + b)}.'
print(s)

### Template Strings
Simpler and less powerful mechanism

In [ ]:
from string import Template

t = Template('Favourite singer is $s1 $s2')

s = t.substitute(s1=fname, s2=lname)
print(s)

## Display Options

Pandas have some default factors which restrict the analysis of data. 

Therefore to have a stronghold over the library and to make the most out of its uses, it is important to know the various methods to change the default pandas values.

Common default values-

- `display.max_rows` and `display.max_columns` which shows the default number of rows and columns.
- `display.max_colwidth` which gives us the maximum width of the column
- `display.expand_frame_repr` which gives us DataFrames that is spread across numerous pages.
- `display.precision` gives us the precision of the decimal numbers


Full list of options https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options

### Pandas.get_option()
- return particular detail about the default values in pandas.

Using `display.max_rows` and `display.max_columns”`
as parameters we get a maximum number of rows and columns that can display by default.

In [ ]:
opts = pd.get_option("display.max_rows")
print(opts)

opts = pd.get_option("display.max_columns")
print(opts)

### Pandas.set_option()
- change a default value to something of our choice. 

e.g. change the “display.max_rows” from 60 to 90.

In [ ]:
pd.set_option("display.max_rows",90)
opts = pd.get_option("display.max_rows")
print(opts)

pd.set_option("display.max_columns",10)
opts= pd.get_option("display.max_columns")
print(opts)

### Pandas.reset_option
- get back the default values which may change previously.

In [ ]:
pd.reset_option("display.max_rows")
opts = pd.get_option("display.max_rows")
print(opts)

pd.reset_option("display.max_columns")
opts = pd.get_option("display.max_columns")
print(opts)

### Pandas.describe_option
- describes the parameter.

In [ ]:
pd.describe_option("display.max_rows")

### Pandas.option_context
invoke a pandas option function which will be only active within the scope of the function.

In the below example, display.max_rows is set to 30 only inside the .option-context scope. Outside the function scope, it returns back to being 60.

In [ ]:
with pd.option_context("display.max_rows",30):
      print(pd.get_option("display.max_rows"))
        
print(pd.get_option("display.max_rows"))

# Style


- Leverage visual aids like color and format, in order to communicate insight more efficiently.

In [ ]:
df_sals = pd.read_excel(io="../Data/sample_data.xls", sheet_name='Salaries')

df_sals

### Set Some Options

There’re too many columns/rows in the dataframe and some columns/rows in the middle are omitted on display.


For example, show at most 7 rows and at most 7 columns:

In [ ]:
pd.set_option('max_rows', 7)
pd.set_option('max_columns', 7)

df_sals

Truncate columns

In [ ]:
pd.set_option('max_colwidth', 40)

df_sals

### Pandas Style

- Customize some aspects of its the rendered dataframe, using CSS. 

- You write a `style functions` that take scalars, DataFrame or Series, and return like-indexed DataFrames or Series with CSS "attribute: value" pairs for the values.

- The most straightforward styling example is using currency symbols when working with currency values. 

- For instance, in our data some of the columns (BasePay, OtherPay, TotalPay, and TotalPayBenefit) are currency values, so we would like to add dollar signs and commas. This can be done using the `style.formatfunction`:
Pandas code to render dataframe with formating of currency columns

In [ ]:
salary_styles = {
    "BasePay": "${:20,.0f}", 
    "OtherPay": "${:20,.0f}", 
    "TotalPay": "${:20,.0f}",
    'OvertimePay': "${:20,.0f}",
    "TotalPayBenefits":"${:20,.0f}"
}

df_sals.head(10).style.format(formatter=salary_styles)

### Incremental Styling

- These styling functions can be incrementally passed to the Styler which collects the styles before rendering, 

- Allows us to add a function that format the EmployeeName and companyTitle as well, this can be done using another style.formatfunction:


e.g. render dataframe that also formats some columns to lower case

In [ ]:
name_styles = {
    "JobTitle": lambda x:x.lower(),
    "EmployeeName": lambda x:x.lower()
}

df_sals.head(10).style.format(formatter=salary_styles).format(formatter=name_styles)

### Hide an index

In [ ]:
df_sals.head(10).style.format(formatter=salary_styles).format(formatter=name_styles).hide_index()

### Conditional Formatting

Builtin functions in the style API, for example, one can highlight the highest number in green and the lowest number in red:

In [ ]:
df_sals.head(10).style.format(formatter=salary_styles).format(formatter=name_styles).hide_index().\
highlight_max(color='lightgreen').highlight_min(color='red')

### Background Gradients

can highlight the range of values in a column. 

In addition, the cmap argument allows us to choose a color palette for the gradient

In [ ]:
df_sals.head(10).style.format(formatter=salary_styles).format(formatter=name_styles).hide_index().\
background_gradient(cmap='Blues')